{% extends 'app_alexander_sidorov/base.html' %}

{% block title %}Контакты{% endblock title %}

{% block style %}
        tbody > tr > td {
            padding-right: 20px;
        }
{% endblock style %}

{% block content %}

<h1>Контакты</h1>
<hr>
<p><a href="/alexander_sidorov/contacts/new/">Создать новый</a></p>

<table>
    <thead>
    <tr>
        <td>Имя</td>
        <td>Телефон</td>
    </tr>
    </thead>
    <tbody>
{% for contact in object_list %}
    <tr>
        <td><a href="/alexander_sidorov/contacts/{{ contact.pk }}/">{{ contact.name }}</a></td>
        <td>{{ contact.phone }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock content %}
